.services
{
    margin-top: 684px;
    position: relative;
    width: 100%;
	background: #f4f8fb;
	padding: 89px 110px 52px 110px;
    font-weight: 600;
    color: #404040;
    font-family: 'Roboto';
    max-width: 1170;
}
.icon_boxes_row
{
	margin-top: 50px;
}
.icon_box
{
	margin-bottom: 65px;
}
.icon_box_icon
{
	width: 49px;
	height: 49px;
}
.icon_box_icon img
{
	max-width: 100%;
}
.icon_box_title
{
	font-size: 20px;
	font-weight: 600;
	/* color: #330000; */
	color: #404040;
    padding-left: 25px;
}
.icon_box_text
{
	font-size: 15px;
	font-weight: 500;
	/* color: #800000; */
	/* color: #838383; */
	color: #404040;
	line-height: 2.14;
	margin-top: 21px;
}
.services_title
{
	font-size: 46px;
	line-height: 1.25;
}
.services_subtitle
{
	font-size: 15px;
	line-height: 1.75;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: 23px;
}

@media only screen and (max-width: 1024px) {
	.services {
		margin-top: 604px;
		padding-top: 49px;
	}
}
@media only screen and (max-width: 991px) {
	.services {
		margin-top: 604px;
		padding: 39px 70px 32px 70px;

	}
	.icon_boxes_row {
		margin-top: 25px;
	}
	.icon_box {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 767px) {
    .services {
		margin-top: 590px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding: 20px 50px 20px 50px;
	}
	.icon_boxes_row {
		margin-top: 25px;
	}
	.icon_box {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 626px) {

	.services_title {
		font-size: 32px;
    	max-width: 100%;
	}
}
@media only screen and (max-width: 575px) {

}

@media only screen and (max-width: 480px) {
    .services {
		margin-top: 560px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding: 20px 15px 20px 15px;
	}
	.services_title {
		font-size: 28px;
    	max-width: 100%;
	}
	.icon_boxes_row {
		margin-top: 20px;
	}
	.icon_box {
		margin-bottom: 20px;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 400px) {
	.icon_boxes_row {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.icon_box {
		margin-bottom: 15px;
	}
	.icon_box_icon {
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
	.icon_box_title {
		text-align: center;
		padding-left: 0px;
	}
	.icon_box_text	{
		font-size: 14px;
		font-weight: 500;
		/* color: #800000; */
		/* color: #838383; */
		color: #404040;
		line-height: 1.44;
		margin-top: 21px;

		/* padding-left: 25px; */
	}
}
