
.home_content {
    margin-top: 9%;
    font-family: 'Roboto';
    font-weight: 600;
    margin-left: 70px;
    max-width: 590px;
}

.home_title {
    color: #2c2c2c;
    font-size: 60px;
    line-height: 1.2;
}

.home_text {
    margin-top: 10%;
    color: #24140d;
    font-size: 23px;
}

.list {
    padding-left: 45px;
    padding-bottom: 20px;
    padding-right: -15px;
}

@media only screen and (max-width: 991px) {
    .home_content {
        margin-right: 40%;
    }
    .home_title {
        font-size: 48px;
    }
    .home_text {
        margin-left: 0px;
    }
    .list {
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .home_content {
        margin-left: 40px;
    }
    .home_title {

    }
}

@media (max-width: 626px) {
    .home_title {
        font-size: 38px;
    }
}

@media (max-width: 575px) {
    .home_content {
        top: 60px;
        margin-top: 50px;
    }
    .home_text {
        line-height: 25px;
        font-size: 18px;
    }
    .list {
        padding-left: 15px;
    }
}

@media (max-width: 480px) {
    .home_content {
		top: 100px;
        /* margin-top: 30px; */
        margin-left: 0px;
        margin-right: 25%;
        padding-top: 0px;
        padding-left: 35px;
    }
    .home_title {
        font-size: 27px;
    }
    .list {
        padding-left: 0px;
    }

}