@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.home
{
	background-image: url(jogger-laces-up-4460x4460.jpg);
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 684px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* height: 874px; */
    /* opacity: 0.8; */
	overflow: hidden;
	display: block;
	box-sizing: border-box;
}

a {
	color: #47ff2f;
}

a:hover {
	color: #ffff00;
}

#navbar {
	background-color: rgba(0,0,0,.39);
}

.navbarResponsive {
	display: flex;
}

@media only screen and (max-width: 1024px)
{
	.home {
		height: 604px;
	}
}

@media only screen and (max-width: 767px)
{
	.home {
		height: 590px;
	}
}

@media only screen and (max-width: 480px)
{
	.home {
		margin-top: -5%;
		height: 580px;
	}
	#navbar {
		padding-top: 22px;
	}
}
