.stuff {
    font-family: 'Roboto';
    width: 100%;
    background: #f4f8fb;
    /* padding-top: 39px; */
    padding: 50px 150px 50px 150px;

}

.faq_title {
    font-size: 34px;
    font-weight: 600;
    color: #404040;
    line-height: 1.25;
}

.faq_subtitle {
    padding-left: 50px;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #838383;
    line-height: 1.75;
    margin-top: 23px;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    margin-left: 0px;
}

.ul {
    margin-bottom: 0rem;
}

.col-lg-7 {
    padding-left: 0px;
}

.bigpicture {
	width: 100%;
	min-width: 150px;
}

@media only screen and (max-width: 992px) {
    .stuff {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding: 30px 100px 30px 100px;
    }
    .stuff_pic {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .stuff {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding: 20px 50px 20px 70px;
    }
    .col-lg-5 {
        margin-left: -20px;
    }
}
@media only screen and (max-width: 626px) {

    .faq_title {
        font-size: 22px;
    }
    .faq_subtitle {
        padding-left: 0px;
        padding-bottom: 0px;
        font-size: 16px;
    }
    .stuff_pic {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .stuff {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding: 20px 40px 20px 40px;
    }
    .faq_title {
        font-size: 18px;
    }
    .faq_subtitle {
        font-size: 14px;
    }
    .col-lg-5 {
        margin-left: -5px;
    }
}
